    <socialbar>
        <div class="container">
            <span id="footer-links">
                <a href="http://twitter.com/seedwater" target="_blank"> <i class="fa fa-twitter fa-2x"></i></a>
                <span class="separator">   </span>
                <a href="http://facebook.com/seedwater" target="_blank">&nbsp;<i class="fa fa-facebook fa-2x"></i></a>
                <span class="separator">   </span>
                <a href="http://linkedin.com/seedwater" target="_blank">&nbsp;&nbsp;<i class="fa fa-linkedin fa-2x"></i></a>
            </span>
        </div>
    </socialbar>


<footer>

    <div class="container">
        <div class="footer-nav">
            <div class="col-lg-8">
                    <a href="{{ site.baseurl }}/solutions/"><img height=100px src="/assets/img/seedwater_solutions.png" alt="seedwater"></a>
            </div>
            <div class="col-lg-4">
                <div class="footer-nav-container">
                    <p> Tel: +251-115-170-348 | Fax: +251-115-520-638 <br>
                        Offices in Fort Collins, CO, and Madison, WI <br>
                        For all inquiries, please <a href="{{ site.baseurl }}/solutions/contact/">contact us</a>
                    </p>
                    <p class="copyright">Copyright &copy; Seedwater, 2016</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
