<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <!--
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>
<body>
    <div id="homewrap2">
        <header class="masthead">    
            <a href="{{ site.baseurl }}/"> <img src="/assets/img/seedwater4.png" class="custom2" alt="seedwater" width="250"> </a>
        </header>
        <br>
    </div>
    <div class="container">
        {{ content }}
    </div>
    <img src="/assets/img/walls.jpg" class="custom3" alt="freedom" width=100%>
    <div class="container">
        <p><h2>Our Vision</h2></p>
        <p>We envision a world where people care about each other, where people around the world have their basic needs met, where people are valued. We envision a world where humans respect and cherish the natural world, and serve as proud stewards of the resources and wonder of our planet. We envision a world where human goodness prevails over pain, suffering, and selfishness - where the morals of the many overcome the corruption of the few.</p>
    <p><a href="{{ site.baseurl }}/cafe/">Seedwater Cafe</a> can provide a space for people to learn, gather, have fun, and build a future they can believe in. The cafe can also remind us that ethical and mindful eating is for everyone, not just the privileged few.</p>
    <p><a href="{{ site.baseurl }}/solutions/">Seedwater Solutions</a> works towards a future of connection and partnership across national lines, empowering communities and individuals to lead us all into a more equitable and just future.</p>
    <p><a href="{{ site.baseurl }}/consulting/">Seedwater Consulting</a> provides rigorous and context-aware expertise and services to development projects around the world, and provides support to the other arms of the Seedwater Collective.</p>
    <br>
    <h1><a href="{{ site.baseurl }}/solutions/contact/">JOIN US</a></h1>
    <br>
    </div>
    
</body>


 
      
      
      
      
      
      
      

</html>

